.bonus {
  margin-top: vw(48);
  &__human {
    width: vw(100);
    height: vw(100);
    margin-left: vw(64);
    margin-top: vw(56);
  }
  &__title {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: vw(600);
    font-size: vw(28);
    line-height: vw(43);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #424242;
    margin-top: vw(64);
    margin-bottom: vw(48);
  }

  &__cart {
    display: flex;
    width: vw(1620);
    height: vw(760);
    background-color: #ffffff;
    border-radius: 20px;
  }
  &__title {
    margin-top: vw(560);
    font-family: Montserrat;
    font-style: normal;
    font-weight: vw(600);
    font-size: vw(18);
    line-height: vw(22);
    color: #bdbdbd;
    width: vw(350);
  }

  &__door {
    margin-right: vw(8);
  }
  &__margin {
    margin-left: vw(64);
    margin-top: vw(40);
  }
  &__button-hero {
    margin: vw(0);
    width: vw(312);
    height: vw(56);
    border-radius: vw(20);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
  }
  &__button-hero:hover {
    transition: 0.5s;
    background: linear-gradient(
      59.75deg,
      #c5c5a8 -2.61%,
      #e2e1cf 76.3%,
      #e2e1cf 76.3%
    );
  }

  &__button {
    margin-left: vw(64);
    width: vw(312);
    height: vw(56);
    margin: vw(0);
    border-radius: vw(20);
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
  }
  &__button:hover {
    padding-left: vw(34);
    color: #ffffff;
    transition: 0.5s;
    background: linear-gradient(
      59.75deg,
      #c5c5a8 -2.61%,
      #e2e1cf 76.3%,
      #e2e1cf 76.3%
    );
  }

  &__olgaflex {
    display: flex;
    align-items: center;
  }

  &__olga {
    margin-top: auto;
    margin-left: vw(24);
    font-family: Montserrat;
    font-style: normal;
    font-weight: vw(600);
    font-size: vw(24);
    line-height: vw(29);
    color: #424242;
  }

  &__subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: vw(600);
    font-size: vw(18);
    line-height: vw(22);
    color: #bdbdbd;
    display: inline-block;
    margin-top: vw(17);
    transition: 0.3s;
    text-decoration: none;
  }
  &__subtitle:hover {
    color: #ffffff;
    margin-top: vw(17);
  }

  &__border {
    margin-top: vw(56);
    margin-left: vw(69);
    width: vw(1);
    height: vw(569);
    background-color: #bdbdbd;
  }

  &__item {
    &-label {
      display: flex;
    }
    &-margins {
      margin-left: vw(64);
      margin-top: vw(94);
    }
    &-button {
      display: flex;
      justify-content: space-between;
      margin-top: vw(24);
      align-items: center;
      background-color: #ffffff;
      border: vw(1) solid #bdbdbd;
      text-align: center;
      width: vw(504);
      height: vw(50);
      border-radius: vw(83);
    }
    &-right {
      margin-left: vw(20);
    }
    &-title {
      margin-top: vw(90);
      margin-left: vw(64);
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(24);
      line-height: vw(29);
      color: #424242;
    }
    &-text {
      margin-left: vw(32);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(14);
      line-height: vw(17);
      color: #bdbdbd;
    }
    &-text2 {
      margin-right: vw(32);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(14);
      line-height: vw(17);
      color: #bdbdbd;
    }

    &-about {
      margin: vw(0);
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(14);
      color: #424242;
      display: inline-block;
    }
    &-save {
      cursor: pointer;
      margin-top: vw(40);
      margin-left: vw(452);
      background: #ffffff;
      border-radius: vw(49);
      border: vw(1) solid #cfa5a5;
      padding: vw(13) vw(45) vw(13) vw(45);
      font-family: Spectral SC;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(16);
      line-height: vw(24);
      width: vw(287);
      height: vw(50);
      text-transform: uppercase;
      color: #976464;
    }
    &-save:hover {
      background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
      color: #ffffff;
      border: vw(1) solid #cfa5a5;
      transition: 0.3s;
    }
    &-descr {
      display: inline-block;
      margin-left: vw(64);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(18);
      line-height: 140%;
      color: #000000;
    }
    &-description {
      display: inline-block;
      margin-left: vw(64);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(18);
      line-height: 140%;
      color: #000000;
    }
    &-subscribe {
      margin-left: vw(64);
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(18);
      line-height: vw(22);
      color: #424242;
    }
    &-descrip {
      display: inline-block;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(18);
      line-height: 140%;
      color: #000000;
    }

    &-112 {
      display: inline-block;
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(900);
      font-size: vw(18);
      line-height: 140%;
      color: #976464;
    }
    &-burgerf {
      margin-right: vw(30);
      margin-top: vw(30);
      display: flex;
    }
    display: flex;
    flex-direction: column;
    &-wrap {
      display: flex;
    }
    &-row {
      margin-top: vw(24);
      margin-left: vw(64);
      background: #ffffff;
      height: vw(459);
      width: vw(245);
      border-radius: vw(20);
      box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.1);
    }

    &-banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-heart {
      margin-top: vw(30);
      margin-left: vw(30);
    }

  
    &-macrame {
      margin-top: vw(12);
      margin-left: vw(33);
      width: vw(182);
    }
    &-burger {
      background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
      width: vw(6);
      height: vw(6);
      border-radius: 50%;
    }
    &-shpagat {
      margin-top: vw(16);
      width: vw(166);
      margin-left: vw(30);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(16);
      line-height: 105%;
      color: #424242;
    }
    &-5 {
      display: flex;
      flex-direction: column;
      width: vw(97);
      height: vw(20);
      margin-left: vw(30);
    }
    &-span {
      display: flex;
      flex-direction: column;
      margin-left: vw(30);
      margin-top: vw(10);
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(16);
      line-height: vw(20);
      color: #424242;
    }
    &-korzina {
      margin-left: vw(30);
      margin-top: vw(16);
      width: vw(195);
      height: vw(50);
      border-radius: vw(49);
      border: none;
      background: #ffffff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(14);
      line-height: vw(17);
      color: #976464;
      border: vw(1) solid #cfa5a5;
      transition: 0.5s;
      cursor: pointer;
    }
    &-korzina:hover {
      background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
      color: #ffffff;
      border: none;
      transition: 0.3s;
    }
    &-buttons {
      margin-left: vw(64);
      left: vw(800);
      top: vw(320);
      width: vw(240);
      height: vw(50);
      border-radius: vw(49);
      border: none;
      background: #ffffff;
      font-family: Spectral SC;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(16);
      line-height: vw(24);
      color: #976464;
      border: vw(1) solid #cfa5a5;
      transition: 0.5s;
      cursor: pointer;
    }
    &-buttons:hover {
      background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
      color: #ffffff;
      border: none;
      transition: 0.3s;
    }

    &-background{
      margin-top: vw(32);
      margin-left: vw(64);
      width: vw(1047);
      height: vw(257);
      background-color: #faf9f9;
      border-radius: vw(20);
    }
    &-background{
      margin-top: vw(32);
      margin-left: vw(64);
      width: vw(1047);
      height: vw(125);
      background-color: #faf9f9;
      border-radius: vw(20);
    }
    &-background2{
      margin-top: vw(32);
      margin-left: vw(64);
      width: vw(1047);
      height: vw(413);
      background-color: #faf9f9;
      border-radius: vw(20);
    }
    &-zakaz {
      padding-top: vw(32);
      margin-left: vw(32);
      display: flex;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(18);
      line-height: vw(22);
      color: #424242;
    }
    &-complete {
      margin: vw(0);
      margin-left: vw(107);
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(16);
      line-height: vw(20);
      color: #976464;
    }
    &-number {
      margin-left: vw(11);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(16);
      line-height: vw(20);
      color: #bdbdbd;
    }

    &-between {
      display: flex;
      justify-content: space-between;
    }
    &-complet {
      padding-left: vw(30);
      padding-top: vw(17);
      margin: vw(0);
      font-family: Montserrat;
      font-style: normal;
      font-weight: vw(600);
      font-size: vw(16);
      line-height: vw(20);
      color: #976464;
    }
    &-repeat {
      padding-right: vw(30);
      padding-top: vw(17);
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: vw(18);
      line-height: vw(22);
      text-decoration-line: underline;
      color: #bdbdbd;
    }
  }
}
