.nav {
  &__item {
    margin-top: vw(64);
  }
  &__menu {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: vw(16);
    line-height: vw(20);
    color: #424242;
  }
  &__menu:hover {
    color: #976464;
    transition: 0.3s;
  }
  &__title {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: vw(600);
    font-size: vw(28);
    line-height: vw(43);
    color: #424242;
    display: inline-block;
    margin-top: vw(64);
  }
}
