.questions {

  &__question {
      margin-top: vw(100);
    display: flex;
    justify-content: center;
    font-family: Spectral SC;
    font-style: normal;
    font-weight: vw(600);
    font-size: vw(28);
    text-transform: uppercase;
    color: #424242;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__buttons {
    margin-top: vw(34);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: vw(14);
    line-height: vw(17);
    color: #976464;
    width: vw(195);
    height: vw(50);
    border-radius: vw(46);
    border: vw(1) solid #cfa5a5;
    background: white;
    margin-left: vw(37);
  }
  &__buttons:hover {
    background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
    color: #ffffff;
    border: vw(1) solid #cfa5a5;
    transition: 0.3s;
    color: #ffffff;
  }
  &__descr{    
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: vw(12);
line-height: 140.2%;
color: #525252;
width: vw(241);
margin-left: vw(37);
  }

}
